.background {
  viewport-fill: #36384c;
}

.time {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: start;
  fill: #e9dccd;
}

.tiny {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  fill: #e9dccd;
}

.bitCircle {
}

.bitCircle_On {
  r: 8%;
  fill: #B4C9A4
}

.bitCircle_Off {
  r: 4%;
  fill: #546944
}

.bitText {
  y: 2%;
  fill: #36384c;
  font-size: 20;
  text-anchor: middle;
}


#minute32 {
}

#minute16 {
}

#minute8 {
}

#minute4 {
}

#minute2 {
}

#minute1 {
}

#hours {
  x: 5%;
  y: 30%-20;
}

#smallTime {
  x: 100%-10;
  y: 50%+80;
  text-anchor: end;
}

#smallDate {
  x: 10;
  y: 50%+80;
  text-anchor: start;
}

#smallRestingHeartRate {
  x: 100%-10;
  y: 50%+110;
  text-anchor: end;
}

#smallSteps {
  x: 10;
  y: 50%+110;
  text-anchor: start;
}

#smallFloors {
  x: 10;
  y: 50%+140;
  text-anchor: start;
}

#smallCalories {
  x: 100%-10;
  y: 50%+140;
  text-anchor: end;
}
